/* Style for the demo page */

/* Month */
.monthName {
  background: #eeeeee;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

.monthName p {
  margin: 0;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Navigate between months */
.monthName p a {
  border: none;
  padding: 0 10px;
  color: #cccccc;
}

.monthName p a:hover {
  color: #36b4c7;
  cursor: pointer;
}

/* Calendar Table */

.calendarWrapper {
  position: relative;
}

.calendarWrapper .calendar {
  position: relative;
  z-index: 2;
}

.weekendBg {
  background-color: #f4f4f4;
  height: 100%;
  width: 28.571428572%;
  top: 0;
  right: 0;
  position: absolute;
  z-index: 1;
}

.calendarWrapper .calendar table {
  margin: 0 0 -1px 0;
  border-collapse: collapse;
  border-spacing: 0;
}

.calendarWrapper .calendar table thead tr {
  border: 1px solid #dddddd;
  /* Firefox */
  -moz-transition: all 0.1s ease-in;
  /* WebKit */
  -webkit-transition: all 0.1s ease-in;
  /* Opera */
  -o-transition: all 0.1s ease-in;
  /* Standard */
  transition: all 0.1s ease-in;
}

.calendarWrapper .calendar table thead tr th {
  border: 1px solid #dddddd !important;
  width: 14.285714286% !important;
  text-transform: uppercase;
  padding: 12px;
  font-size: 13px;
}

.calendarWrapper .calendar table tbody tr td {
  width: 14.285714286% !important;
  border-top: none !important;
  border-bottom: none !important;
  border-right: none !important;
  border-left: 1px solid #dddddd;
  padding: 0 !important;
  font-size: 12px;
}

/* For weekends row*/
.calendarWrapper .calendar table tbody tr td.weekend {
  background-color: #f4f4f4;
}

/* For previous or next days month */
.calendarWrapper .calendar table tbody tr td.otherMonth {
  color: #cccccc;
}

/* For today */
.calendarWrapper .calendar table tbody tr td .today {
  font-family: "gotham-rounded-bold", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: transparent !important;
}

/* For event highlight */
.calendarWrapper .calendar table tbody tr td.highlight.event .eventSpan .content {
  background-color: #cccccc;
  cursor: pointer;
  /* Firefox */
  -moz-transition: all 0.15s ease-in;
  /* WebKit */
  -webkit-transition: all 0.15s ease-in;
  /* Opera */
  -o-transition: all 0.15s ease-in;
  /* Standard */
  transition: all 0.15s ease-in;
}

/* For birthdays or holidays */
.calendarWrapper .calendar table tbody tr.eventRow .event .specialDay {
  color: #999999;
  padding: 0 5px;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .specialDay p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .eventSpan {
  padding: 3px;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .eventSpan .content {
  background-color: #dddddd;
  cursor: default;
  margin: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  padding: 0;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .eventSpan .content p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  position: relative;
  padding: 2px 11px;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .eventSpan .content p.status {
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
}

.calendarWrapper .calendar table tbody tr.eventRow .event .eventSpan .content p .status {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  -ms-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
  width: 6px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.calendarWrapper .calendar table tbody tr.monthDay td .specialDayWrapper {
  width: 100%;
  display: flex;
  flex-direction:row;
  justify-content: flex-start;
  align-items: center;
}

.calendarWrapper .calendar table tbody tr.monthDay td .specialDayWrapper .specialDay {
  cursor: pointer;
}

.calendarWrapper .calendar table tbody tr.monthDay td .specialDayWrapper .specialDay p{
  margin-bottom: 0;
  margin-left: 5px;
}

.calendarWrapper .calendar table tbody tr.monthDay span {
  display: block;
  padding: 5px;
  font-size: 14px;
}

.calendarWrapper .calendar table tbody tr.monthDay .specialDayWrapper span {
  display: block;
  padding: 5px;
  font-size: 14px;
}

.calendarWrapper .calendar table tbody tr.monthDay .popover .popover-content span {
  display: inline-block;
  padding: 0px;
  font-size: 14px;
}

.calendarWrapper .calendar table.eventsWrapper {
  border: 1px solid #dddddd !important;
  table-layout: fixed;
}

/* Collapsed events */

tr.expandEvents{
  background: #eaeaea;
  border-top: 1px solid #dddddd;
}

tr.expandEvents td a{
  padding: 5px !important;
  float: left;
  color: #666666;
  text-decoration: none;
}

tr.expandEvents td a:hover{
  cursor: pointer;
  text-decoration: none;
}

/* Status colors */

.repproved {
  background-color: #dc6150;
}

.pendent {
  background-color: #f7931e;
}

.approved {
  background-color: #00bf9d;
}

.canceled {
  background-color: #dddddd;
  color: #999999;
}

.enjoyed {
  background-color: #36b4c7;
}
